.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: 208px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.vtex-store-components-3-x-notificationBarContainer {display: none!important;}

.c-action-primary {
  color: #b42c2c;
}


:global(.vtex-menu-2-x-menuItem--menu-top) 
:global(.vtex-menu-2-x-styledLinkContent){color: #b19e8a;font-size: 11px;text-transform: uppercase;    padding-top: 0px;}
:global(.vtex-menu-2-x-styledLinkContent) {color: #fff;    padding-top: 24px;    font-size: 12px;}
:global(.vtex-flex-layout-0-x-flexRowContent--menu-link) {background-color: #fff;height: 45px;max-width: 1367px;margin: auto;}
:global(.vtex-menu-2-x-styledLinkContainer--menulojaonline) { background: url("https://mercadaodosoculosb2b.vtexassets.com/arquivos/carrinho_vazio_branco.png") no-repeat top center; }
:global(.vtex-menu-2-x-styledLinkContainer--menuoculosdesol) { background: url("https://mercadaodosoculosb2b.vtexassets.com/arquivos/sol.png") no-repeat top center; background-size: 40px;}
:global(.vtex-menu-2-x-menuItem--menuoculosdegrau) { background: url("https://mercadaodosoculosb2b.vtexassets.com/arquivos/grau.png") no-repeat top center; background-size: 40px;}
:global(.vtex-menu-2-x-styledLinkContainer--menumaisvendidos) { background: url("https://mercadaodosoculosb2b.vtexassets.com/arquivos/fire.png") no-repeat top center;    background-size: 35px;}
:global(.vtex-menu-2-x-styledLinkContainer--menupromocao) { background: url("https://mercadaodosoculosb2b.vtexassets.com/arquivos/love.png") no-repeat top center; background-size: 35px;}
:global(.vtex-menu-2-x-styledLinkContainer--menulancamentos) { background: url("https://mercadaodosoculosb2b.vtexassets.com/arquivos/promotion_2.png") no-repeat top center;    background-size: 35px;}
:global(.vtex-minicart-2-x-minicartContainer) { background: url("https://mercadaodosoculosb2b.vtexassets.com/arquivos/carrinho_vazio_branco.png") no-repeat center;background-size: 35px;background-size: 35px; margin-top: -10px;margin-left: 20px;}

:global(.vtex-login-2-x-box){left:0;}
:global(.vtex-login-2-x-arrowUp){left: 40px;}

/*:global(.vtex-slider-layout-0-x-slide--shelf)
:global(.vtex-button) {background: #4caf50;border:none;}*/

:global(.vtex-store-components-3-x-container){max-width: 1367px!important;margin: auto;}
:global(.vtex-rich-text-0-x-wrapper--shelfTitle){text-align: left;width: 100%;max-width: 1367px;border-bottom: 3px dotted #777777;}
:global(.vtex-rich-text-0-x-paragraph--shelfTitle){margin-bottom: 15px;margin-top:30px;font-size:18px;}
:global(.vtex-rich-text-0-x-paragraph--help-message),
:global(.vtex-login-2-x-label){color: #b19e8a;font-size: 11px;text-transform: inherit!important;}
:global(.vtex-store-components-3-x-searchBarContainer)
:global(.vtex-styleguide-9-x-input){background-color: transparent;}
:global(.vtex-store-components-3-x-searchBarContainer)
:global(.vtex-input__suffix){    background-color: transparent;}
:global(.vtex-store-components-3-x-searchIcon){color:#fff;}
:global(.vtex-store-components-3-x-productNameContainer){color: #fff;font-weight: bold;font-size: 18px;background-color: #b42c2c;width: 100%;padding: 15px 20px;border-radius: 5px;}
:global(.vtex-product-price-1-x-sellingPriceValue){color:#b42c2c;}
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header){background-color: #b42c2c!important;}
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header)
:global(.vtex-flex-layout-0-x-flexRowContent--main-header){background-color: rgba(0,0,0,0);}
:global(.vtex-add-to-cart-button-0-x-buttonText){font-size: 13px;}
:global(.vtex-product-summary-2-x-brandName){ font-weight: normal;font-size: 12px;color: #777777;}
:global(.vtex-reviews-and-ratings-2-x-inlineContainer){display:none;}
:global(.vtex-numeric-stepper__plus-button){background-color: #b42c2c;color: #fff;border: none;}
:global(.vtex-numeric-stepper__minus-button ){background-color: #b42c2c;color: #fff;border: none;}
:global(.vtex-numeric-stepper__input){border:1px solid #b42c2c;}
:global(.vtex-numeric-stepper__input ){color:#b42c2c;font-weight: bold;}
:global(.vtex-product-quantity-1-x-quantitySelectorTitle){font-size: 13px;color:#b42c2c;font-weight: bold;text-transform:uppercase;}
:global(.vtex-store-components-3-x-shareLabel){display:none;}
:global(.vtex-address-form__postalCode)
:global(.vtex-input__label) {font-size: 13px;color:#b42c2c;font-weight: bold;text-transform:uppercase;}
:global(.vtex-address-form__postalCode)
:global(.vtex-input-prefix__group) {border:1px solid #777;}
:global(.vtex-rich-text-0-x-heading-level-5){color: #b42c2c;font-weight: bold;}
:global(.vtex-store-components-3-x-shippingContainer)
:global(.vtex-button){    margin-bottom: 25px;background-color: #777;border: none;color: #fff;max-width: 190px;float: right;padding: 13px 0px;font-size: 14px;}
:global(.vtex-add-to-cart-button-0-x-buttonText){font-size: 20px;padding: 15px;}
:global(.vtex-slider-layout-0-x-slideChildrenContainer)
:global(.vtex-add-to-cart-button-0-x-buttonText){font-size: 13px;padding: 0px;}
:global(.vtex-search-result-3-x-gallery)
:global(.vtex-add-to-cart-button-0-x-buttonText){font-size: 13px;padding: 0px;}
:global(.vtex-search-result-3-x-filterTemplateOverflow){max-height: 100%!important;}
:global(.vtex-checkbox__label){font-weight: normal;font-size: 12px;color: #777777;}
:global(.vtex-search-result-3-x-galleryTitle--layout){border-bottom: 2px dotted #777;font-size: 18px;color: #777;padding: 15px 0px;}
:global(.vtex-breadcrumb-1-x-link){font-size: 12px;}
:global(.vtex-store-drawer-0-x-opened){background-color:#b42c2c!important;}
:global(.vtex-rich-text-0-x-container--shelfTitle){padding: 0px 10px;}
:global(.vtex-search-result-3-x-filter)
:global(.vtex-search-result-3-x-filterTitle){color:#000;font-size:14px;}
:global(.vtex-search-result-3-x-categoryItemName){color:#777;font-size: 12px;}
:global(.vtex-login-2-x-inputContainerAccessCode) {font-size: 14px;}
:global(.vtex-login-2-x-profile) {font-size: 10px;color: #777;max-width: 200px;}
:global(.vtex-minicart-2-x-cartIcon) {color:transparent;}
/*:global(.vtex-flex-layout-0-x-flexRow--main-header-mobile){padding-bottom: 104px;}*/
:global(.vtex-rich-text-0-x-heading-level-5){display:none;}
:global(.vtex-store-components-3-x-productDescriptionTitle){display:none;}
:global(.vtex-flex-layout-0-x-flexRow--productSpecificationGroupName){background-color: #fff!important;color:#b42c2c;}
:global(.vtex-product-specifications-1-x-specificationName){color: #b42c2c;font-weight: bold!important;font-size: 14px;}
:global(.vtex-flex-layout-0-x-stretchChildrenWidth){  min-width: 47%!important;}
:global(.vtex-store-components-3-x-imageElement--imagem-dimensao){max-width: 495px;max-height: 504px; width: 100%;}
:global(.vtex-product-specifications-1-x-groupName){font-size: 14px!important;font-weight: bold;margin-top: 15px; text-transform: uppercase;}
:global(.vtex-product-specifications-1-x-specificationValue ){color: #b42c2c;font-size: 14px!important;font-weight: normal;margin-top: 10px}
/*:global(.vtex-flex-layout-0-x-flexRow--productSpecificationGroup) {margin-top: -105px;}*/
:global(.vtex-flex-layout-0-x-flexRowContent--productSpecificationGroup)
:global(.vtex-flex-layout-0-x-flexColChild){margin-top: 5px;}
:global(.vtex-flex-layout-0-x-flexRow--productSpecification){    background-color: #fff!important;}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-menuContainer) {display:none;}

:global(.vtex-search-result-3-x-container--layout)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth) { min-width: auto!important;}

:global(.vtex-store-components-3-x-productDescriptionContainer)
:global(.vtex-store-components-3-x-content){color: #3f3f40;    padding: 0px 15px;}

@media only screen and (max-width: 640px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel){ margin-top: 0px!important;}

}